// Colors
$crimson-clr: #c63c3c;
$black-clr: #454545;
$primary-clr: #2f4da3;
$white-clr: #f2f2f2;
$gray-clr: #a2a2a2;

// // Text Size
$heading-: 1rem;
$heading-2: 1.6rem;
$heading-2: 2rem;
$text-xl: 4.5rem;
