#contact {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 70.4px;
      text-align: left;
      color: $black-clr;
    }
    .contact__text {
      max-width: 210px;
      h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32.78px;
        color: $black-clr;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        color: $black-clr;
      }
    }
  }
}

.map__container {
  max-width: 1332px;
  margin: -200px auto 0;
  padding: 0 16px;
  position: relative;
  z-index: 10;

  .map__addres {
    padding: 60px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .map__col {
      h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32.78px;
        color: $black-clr;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.86px;
        color: $black-clr;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .map__container {
    margin: 30px auto 0;
    .map__addres {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      .map__col {
        h3 {
          font-size: 20px;
          font-weight: 600;
          line-height: 27.32px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 21.86px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #contact {
    .contact {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 38.25px;
        margin-top: 10px;
      }
    }
  }
}
