#contact {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 70.4px;
      text-align: left;
      color: $black-clr;
      .text {
        h4 {
          font-family: Manrope;
          font-size: 24px;
          font-weight: 600;
          line-height: 32.78px;
          text-align: left;
          color: $black-clr;
        }
        p {
          max-width: 210px;
          font-family: Manrope;
          font-size: 24px;
          font-weight: 600;
          line-height: 32.78px;
          text-align: left;
          color: $black-clr;
        }
      }
    }
  }
}
