// -------------------- Products Skeleton ------------------------
#product-skeleton {
  padding: 16px 0;
  .product__skelton__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 16px;
    .product__skelton__card {
      width: 100%;
      height: 380px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #f1f1f1;
      .product__skeleton-image {
        width: 100%;
        height: 240px;
      }
      .product__skeleton-title {
        width: 80%;
        height: 22px;
        margin: 25px 25px 10px;
        border-radius: 4px;
      }
      .product__row {
        margin: 10px 25px 25px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .product-old-price {
          height: 17px;
          width: 25px;
          border-radius: 4px;
        }
        .product-now-price {
          width: 60px;
          height: 22px;
          margin-top: 6px;
          border-radius: 4px;
        }
        .product-cart-button {
          width: 60px;
          height: 40px;
          border-radius: 100px;
        }
      }
    }
  }
  .admin__container {
    .product__skelton__wrapper {
      display: flex !important ;
      align-items: center !important;
      gap: 20px !important;
      flex-wrap: wrap !important;
      .product__skelton__card {
        width: 280px !important;
      }
    }
  }
}

.skeleton-anime {
  background: linear-gradient(90deg, #f9f9f9, #dfdfdf, #f9f9f9);
  background-size: 200%;
  animation: skeletonAnime 1s linear 0s infinite;
}
@keyframes skeletonAnime {
  to {
    background-position: 200%;
  }
}

@media screen and (max-width: 1000px) {
  #product-skeleton {
    .product__skelton__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 730px) {
  #product-skeleton {
    .product__skelton__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 460px) {
  #product-skeleton {
    .product__skelton__wrapper {
      .product__skelton__card {
        height: 231px;
        .product__skeleton-image {
          height: 130px;
          background: #f7f7f7;
        }
        .product__skeleton-title {
          height: 20px;
          margin: 10px;
        }
        .product__row {
          margin: 10px;
        }
      }
    }
  }
}

// ------------------- Single Route Loading --------------------------
.loadingPro {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.454);
  z-index: 20000;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingP-item {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radus-loading {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: rgba(203, 203, 203, 0.822);
  position: absolute;
  animation: playLine 0.9s infinite alternate;
  top: 0;
}
.radus-loading1 {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.838);
  position: absolute;
  animation: playLine1 0.9s infinite alternate;
  top: 0;
}

@keyframes playLine {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes playLine1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

// ------------------- Catgory Loading --------------
.categpry__skeleton-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  .category__skeleton-card {
    width: 100%;
    height: 240px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .categpry__skeleton-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .categpry__skeleton-wrapper {
    gap: 8px;
    .category__skeleton-card {
      height: 225px;
    }
  }
}
